$Orange: rgb(255, 185, 2);
$DarkGrey: rgb(46, 46, 46);
$LightGrey: rgb(59, 59, 59);
$White: rgb(204, 204, 204);
$Blue: rgb(72, 177, 196);

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

.Landing {
  //   height: 100vh;
  background-color: $LightGrey;
}

#Intro {
  height: 100%;
}

.Title {
  height: 25vh;
  background-color: $Orange;

  display: flex;
  align-items: center;
  justify-content: center;
  //   padding-left: 20vh;
}

.MusicLogoBox {
  height: 25vh;
}

.MusicLogo {
  height: 100%;
}

.TitleText {
  font-size: 60px;
}

.Nav {
  height: 7vh;
  width: 100%;
  background-color: $DarkGrey;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  border-bottom: solid rgb(36, 36, 36);
  box-sizing: border-box;
  position: sticky;
  top: 0;
}

a {
    color: rgb(72, 177, 196)
  }

a:hover {
    color: $Orange;
}

.IntroPicContainer {
  height: 68vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $LightGrey;
}

.BoardwalkOne {
  height: 95%;
  width: 100vh;
  object-fit: cover;
}

//////

#About {
  height: 93vh;
  background-color: $DarkGrey;
  border-top: solid $Orange;
  box-sizing: border-box;
}

.AboutTitle {
    // height: 10vh;
    // margin-top: 7vh;
    // font-size: 30px;
    // @include flex(center, center, center);
    // text-decoration: underline;
    // color: $Blue;

}

.AboutContent {
    height: 83vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.AboutHeadlineOne {
    height: 40vh;
    @include flex(center, center, center);
    font-size: 45px;
    text-align: center;
    color: $Orange;
}



.AboutInfo {
    height: 43vh;
    // background-color: gray;
    padding-top: 5vh;
    padding-left: 30vh;
    padding-right: 30vh;
    text-align: center;
    font-size: 20px;
    color: $White;
}

///

#InsideScroll {
    height: 7vh;
    background-color: $DarkGrey;
    border-bottom: solid $Orange;
    box-sizing: border-box;
}


.Inside {
    height: 93vh;
}

.InsideHeadline {
    height: 20vh;
    color: $Blue;
    @include flex (center, center, center);
    font-size: 45px;
}

#ContactScroll {
    height: 7vh;
    border-bottom: solid $Orange;
    box-sizing: border-box;
}

.Contact {
    height: 93vh;
    background-color: $DarkGrey;
}

.ContactHeadline {
    height: 20vh;
    color: $Orange;
    @include flex (center, center, center);
    font-size: 45px;
}
